#header1, #footer1, #head_clear, #head_white, #foot, #one_text_stay, #home_content {
    opacity: 0%;
}
   
.page .entry-title {
    display: none;
}

/*fade out */
@keyframes fade-out {
    from {
        opacity: 100%;
        
    }

    to {
        opacity: 0%;


    }
}

/*fade out up */
@keyframes fade-out_up {
    from {
        opacity: 100%;
        transform: 'translateY(0%)';
    }

    to {
        opacity: 0%;
        /* margin-top: -300px; */
        transform: 'translateY(0%)';

    }
}

/*fade out up slower */
@keyframes fade-out_up2 {
    from {
        opacity: 100%;
        margin-top: 0px;
    }

    to {
        opacity: 0%;
        margin-top: -240px;
    }
}

/*fade in */
@keyframes fade-in {
    from {
        opacity: 0%;
        
    }

    to {
        opacity: 100%;


    }
}

/* show icon text */    
@keyframes oneTxtShow {
    0% {
        opacity: 0%;
    }
          
    70% {
        opacity: 0%;
    }
          
    100% {
        opacity: 100%;
        padding-left: 50px;
    }   
}

/* show icon text */    
@keyframes homeShow {
    0% {
        opacity: 0%;
    }
          
    70% {
        opacity: 0%;
    }
          
    100% {
        opacity: 100%;
    }   
}


/* hide icon text */    
@keyframes oneTxtHide {
    0% {
        opacity: 100%;
        padding-left: 50px;
    }
          
          
    100% {
        opacity: 0%;
        padding-left: 50px;
    }   
}

/* hide icon text */    
@keyframes homeHide {
    0% {
        opacity: 100%;
    }
          
          
    100% {
        opacity: 0%;
    }   
}

/* hide icon text */    
@keyframes homeHide2 {
    0% {
        opacity: 100%;
    }
          
          
    100% {
        opacity: 0%;
                margin-top: -300px;


    }   
}




/*fade out2 */
@keyframes fade-out2 {
    0% {
        opacity: 100%;
        
    }
    
     90% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;


    }
}

